#profile.row
  h3
    'My profile
    small Change your account information
  hr

  ul#my_profile.nav.nav-tabs
    li.personal.active
      a href='#personal' data-toggle='tab' Personal
    li.security
      a href='#security' data-toggle='tab' Security
    li.settings
      a href='#settings' data-toggle='tab' Settings

  .tab-content
    #personal.tab-pane.active
      .row
        = form_for current_user, method: :put, remote: true, html: { class: 'form-horizontal padding-20' } do |f|
          .form-group
            label.col-md-2.control-label Full name
            .col-md-10
              = f.text_field :full_name, class: 'form-control'
          .form-group
            label.col-md-2.control-label Email
            .col-md-10
              p.form-control-static.form-control= current_user.email
          .form-group
            label.col-md-2.control-label Phone
            .col-md-10
              = f.text_field :phone, class: 'form-control'
          .form-group
            label.col-md-2.control-label IM
            .col-md-10
              = f.text_field :im, class: 'form-control'
          .form-group
            .col-md-12
              .pull-right
                a.reset_form.btn.btn-default.margin-right-20 Reset
                = f.submit 'Save', class: 'btn btn-primary'

    #security.tab-pane
      .row.margin-top-20
        .col-md-6
          h3.margin-0 Change password
          = form_for current_user, url: :update_from_profile, method: :put, remote: true, html: { class: 'form-horizontal padding-20' } do |f|
            .form-group
              label.col-md-6.control-label Current Password
              .col-md-6
                = f.password_field :password, class: 'form-control'
            .form-group
              label.col-md-6.control-label New Password
              .col-md-6
                = f.password_field :new_password, class: 'form-control'
            .form-group
              label.col-md-6.control-label New Password Confirmation
              .col-md-6
                = f.password_field :new_password_confirmation, class: 'form-control'
            .form-group
              .col-md-12
                .pull-right
                  = f.submit 'Change Password', class: 'btn btn-primary'

        .col-md-6.padding-20
          .row
            .col-md-7.text-right.padding-0 Last Login at:
            .col-md-5= current_user.decorate.login_timestamp
          .row
            .col-md-7.text-right.padding-0 Last Login from:
            .col-md-5= current_user.last_login_from

    #settings.tab-pane
      .row
        = form_for current_user, method: :put, remote: true, html: { class: 'form-horizontal padding-20' } do |f|
          .form-group
            label.col-md-2.control-label Time Zone
            .col-md-7
              = f.select :time_zone, time_zone_options_for_select(current_user.time_zone), {}, class: 'form-control'
          .form-group
            label.col-md-2.control-label Time Format
            .col-md-7
              = f.select :time_format, time_formats_for_select, {}, class: 'form-control'
          .form-group
            .col-md-9
              .pull-right
                a.reset_form.btn.btn-default.margin-right-20 Reset
                = f.submit 'Save', class: 'btn btn-primary'
