.well
  h3 Sign Up
  .alert.alert-success
    'You have accepted the invitation from
    = @user.invited_by.decorate.name_or_email
    |!
  = form_for(@user, url: register_path, method: :put, html: { class: 'form-horizontal', id: :sign_up_form }) do |f|
    = f.hidden_field :id, value: @user.id
    = f.hidden_field :token, value: params[:token]
    .form-group
      label.col-md-4.control-label Email Address
      .col-md-8
        p.form-control-static.form-control= @user.email
    .form-group
      label.col-md-4.control-label Full Name
      .col-md-8
        = f.text_field :full_name, class: 'form-control'
    .form-group
      label.col-md-4.control-label Password
      .col-md-8
        = f.password_field :password, class: 'form-control'
    .form-group
      label.col-md-4.control-label Confirm Password
      .col-md-8
        = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      .col-md-12= submit_tag 'Sign Up', class: 'btn btn-primary pull-right'
  .clearfix
