- if @user.errors.any?
  .alert.alert-danger
    button.close type='button' data-dismiss='alert' &times;
    h5
      =' pluralize(@user.errors.count, "error")
      |prohibited this user from being saved:
    ul
      - @user.errors.full_messages.each do |msg|
        li= msg
.well
  h3 Reset Password

  = form_for @user, url: password_path(@user), html: { method: :put } do |f|
    .form-group
      h4= @user.email
    .form-group
      = f.password_field :password, placeholder: 'New password', class: 'form-control'
    .form-group
      = f.password_field :password_confirmation, placeholder: 'New password confirmation', class: 'form-control'
      = hidden_field_tag :token, @token
    .form-group.actions
      = f.submit 'Reset password', class: 'btn btn-primary pull-right'
    .clearfix
