.well
  h3 Forgot password?
  p Enter your email address below to reset your password.
  = form_tag passwords_path, method: :post do
    .form-group
      = email_field_tag :email, nil, class: 'form-control', placeholder: "Email"
    .form-group.inline-buttons
      = link_to 'Back', login_path, class: 'btn btn-default pull-left'
      = submit_tag 'Submit', class: 'btn btn-primary pull-right'
    .clearfix
