p
  'Hello,
  =' @invited_by.full_name
  'invited you to join the
  =' @sub_account.name
  |sub-account.

p
  =' link_to 'See', sub_accounts_url
  |more details.
- if @message.present?
  p
    'Message from
    = @invited_by.full_name
    |:
  p = @message
