p
  'Hello,
  =' @invited_by.full_name
  'invited you to join the
  = ENV['CUSTOMER_BRAND']
  '. To accept invitation please click on the following link:
= link_to sign_up_url(token: @invited.invitation_token), sign_up_url(token: @invited.invitation_token)
- if @message.present?
  p
    'Message from
    = @invited_by.full_name
    |:
  p = @message
