tr
  td.select             = check_box_tag :contact_id, contact.id, false, class: 'checkbox'
  td.email              = contact.email
  td.source             = contact.source
  td.email_preference   = contact.email_preference
  td.status             = contact.status
  td.messages_count     = contact.messages_count
  td.browsers           = contact.browsers.join(', ')
  td.email_clients      = contact.email_clients.join(', ')
  td.operating_systems  = contact.operating_systems.join(', ')
  td.ip_addresses       = contact.ip_addresses.join(', ')
  td.locations          = contact.decorate.locations
  td.orders_information = contact.decorate.orders_information
