h3
  'All Contacts
  span.badge-big= @all_contacts_count
hr
.col-md-12
  .pull-right
    = link_to 'Import contacts', contacts_import_path, class: 'btn btn-primary'
.clearfix
br
.clearfix

- if @sub_account_contacts.count > 0
  .col-md-12 style='overflow-x: scroll;'
    table#contacts.table.table-striped.table-bordered.table-hover.table-responsive
      thead
        tr
          th.select_all = check_box_tag :select_all, :select_all, false, class: 'checkbox'
          th.email nowrap=true Email
          th.source nowrap=true Source
          th.email_preference nowrap=true Email Preference
          th.status nowrap=true Status
          th.messages_count nowrap=true Messages count
          th.browsers nowrap=true width='90px' Browsers
          th.email_clients nowrap=true Email Clients
          th.operating_systems nowrap=true Operating Systems
          th.ip_addresses nowrap=true IP Addresses
          th.locations nowrap=true width='200px' Locations
          th.orders_information nowrap=true width='200px' Orders Information

      tbody
        = render @contacts
    .clearfix
    #paginator.col-md-12
      .pull-right = paginate(@contacts, window: 2)
  .clearfix
- else
  .bs-callout.bs-callout-warning
    h5 NO CONTACTS FOUND FOR THIS SUB ACCOUNT
    p You can add them by importing, or push via API
