.span8
  .bs-example
    .bs-callout.bs-callout-warning
      h5 WE HAVEN'T RECEIVED ANY EVENTS FROM YOU YET
      p To make full use of Dashboard you need to start import contacts, create and send messages. After this, we'll
        fill charts and events with appropriate information.
    = image_tag('dashboard_demo.gif', class: 'img-responsive')
