tr
  td = sub_account_user.user.email
  td = sub_account_user.user.full_name
  td = sub_account_user.user.decorate.login_timestamp
  td
    - if user_can_delete
      = link_to 'Delete', sub_account_user_path(sub_account_user), method: :delete, remote: true,
        class: 'delete_user btn btn-danger', data: { confirm: "Are you sure?" }
