.well
  h3 Login to your account
  = form_tag sessions_path, method: :post do
    .form-group
      = text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Enter email'
    .form-group
      = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
    .form-group
      .checkbox.pull-left
        label
          = check_box_tag :remember_me, 1, params[:remember_me]
          |Remember me
      = submit_tag 'Log in', class: 'btn btn-primary pull-right'
  .clearfix
  hr
  .forgot-password
    h4 Forgot your password?
    p
      'no worries, click
      =' link_to 'here', reset_password_path
      |to reset your password.
